<!DOCTYPE html>

<html>
<head>
  <title>{{.title}}</title>
  <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,400,600">
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <link rel="stylesheet" type="text/css" href="/css/main/{{print .active}}.css">

  <script data-main="js/setup/main.js?v=1418769629" src="bowerc/requirejs/require.js"></script>
  <!-- <script src="http://localhost:9000/js/context.js" /> -->

  <!-- Open graph stuff -->
  <meta property="og:title" content="{{.title}}" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="Small business web design and consulting.">
  <meta name="keywords" content="web design, web development, web marketing, google results, small business, kansas city, missouri, san francisco, california">
  <link rel="alternate" type="application/rss+xml"
   href="/feed.rss" title="RSS feed for Chris Johnson's personal blog">

</head>

<body>
<div id="sticky-wrap">
  <header>
    <nav class="top-bar row" data-topbar>
      <ul class="title-area">
          <li class="name">
            <h1 class="title"><a href="/">Chris Johnson</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="{{if eq .active "home" }}active{{end}}"><a href="/">Home</a></li>
          <li class="{{if eq .active "work" }}active{{end}}"><a href="/work">Work</a></li>
          <li class="{{if eq .active "words" }}active{{end}}"><a href="/words">Words</a></li>
          <li class="{{if eq .active "links" }}active{{end}}"><a href="/links">Links</a></li>
          <li class="{{if eq .active "contact" }}active{{end}}"><a href="/contact">Contact</a></li>
        </ul>
      </section>
    </nav>
  </header>

  <div id="sticky-main">
    <hr />

    <div class="row">
      <div class="large-12 columns main-content">
