.space {
  padding-top: .7rem;
  padding-bottom: .7rem;
}

.space-bot {
  padding-bottom: .7rem; 
}

.space-top {
  padding-bottom: .7rem; 
}

.breathe {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; 
}

.breathe-bot {
  padding-bottom: 1.5rem;
}

.breathe-top {
  padding-bottom: 1.5rem;
}

.inline {
  display: inline;
}

.pull-right {
  float: right !important;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}