@import "globals/vars";

h4 {
  font-weight: bold;
}

.product-types {
  margin-top: 7px;

  li {
    padding-bottom: 2px;
  }
}

.work-item {
  margin: 0 0 1rem;

  h3 {
    margin-bottom: 15px;
  }

  img {
    @extend %cropped;
  }

  a.work-box {
    @extend %img-container;
    display: block;
    height: 262px;
    border: 1px solid #aaa;
  }

}

.skill-set {
  position: relative;

  ul {
    float: left;
    margin-right: 0;
    list-style-type: disc;
  }

  .subtitle {
    float: left;
    text-align: right;
    line-height: 24px;
    margin-right: 40px;
    min-width: 100px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.linkedin {
  position: absolute;
  top: 15px;
  left: 15px;
}

.subnav {
  position: absolute;
  top: 15px;
  right: 15px;
}