/* Base */
/* Header */
/* Paragraph */
/* Top-bar */
/* Overrides */
/* Element overrides / WTFs */
ul li ul, ul li ol {
  margin-left: auto; }

/*

General guide on @font-face usage for bold/italic etc, courtesy of Stack Overflow:
  http://stackoverflow.com/questions/2436749/how-to-define-bold-italic-using-font-face
  NB: Order matters (bold/italic last)

@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans.ttf");
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans-Oblique.ttf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans-BoldOblique.ttf");
    font-weight: bold;
    font-style: italic, oblique;
}

*/
/*
  Bembo:  fonts.com
*/
@font-face {
  font-family: "Bembo";
  src: url("/public/fonts/bembo-regular.eot");
  /* IE9 Compat Modes */
  src: url("/public/fonts/bembo-regular.eot?#iefix") format("embedded-opentype"), url("/public/fonts/bembo-regular.woff") format("woff"), url("/public/fonts/bembo-regular.ttf") format("truetype"), url("/public/fonts/bembo-regular.svg") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: "Bembo";
  src: url("/public/fonts/bembo-semibold.eot");
  /* IE9 Compat Modes */
  src: url("/public/fonts/bembo-semibold.eot?#iefix") format("embedded-opentype"), url("/public/fonts/bembo-semibold.woff") format("woff"), url("/public/fonts/bembo-semibold.ttf") format("truetype"), url("/public/fonts/bembo-semibold.svg") format("svg");
  /* Legacy iOS */
  font-weight: 500; }

.title, .title * {
  font-size: 2.5rem; }

.subtitle, .subtitle * {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase; }

.text, .text * {
  line-height: 150%; }

.small, .small * {
  font-size: 0.8rem; }

.medium, .medium * {
  font-size: 1rem; }
