{{template "header.html" .}}

<link rel="stylesheet" type="text/css" href="/public/css/contact.css">

<section class="contact-sec skinny">
  <h1 class="title">Contact Me</h1>

  <ul class="large-block-grid-2">
    <li>
      <div class="breathe-bot">
        <h4>Email</h4>
        <div>
          <label>work:</label>
          <a href="mailto:chris@cjohnson.io?subject=hi">chris@cjohnson.io</a>
        </div>
        <div>
          <label>personal:</label>
          <a href="mailto:who_is_chuck@yahoo.com">who_is_chuck@yahoo.com</a>
        </div>
      </div>
      <div>
        <h4>Skype</h4>
        <span>Don't use Skype.  It's horrible bloatware.</span>
      </div>
    </li>
    <li>
      <div class="breathe-bot">
      <h4>Social</h4>
        <ul>
          <li><a href="https://www.github.com/c-johnson">Github</a></li>
          <li><a href="https://www.facebook.com/christopher.keit.johnson">Facebook</a></li>
          <li><a href="https://plus.google.com/u/0/106870855166225215149">Google +</a></li>
          <li><a href="https://www.linkedin.com/in/ckjohnson7">LinkedIn</a></li>
          <li><a href="https://stackoverflow.com/users/376413/chris-j">Stack Overflow</a></li>
          <li><a href="https://www.quora.com/Christopher-Johnson-6">Quora</a></li>
        </ul>
      </div>
      <div class="breathe-bot">
        <h4>Other</h4>
        <ul>
          <li><label>stackoverflow:</label> <a href="https://stackoverflow.com/users/376413/chris-j">click here</a></li>
          <li><label>gtalk:</label>  ckjohnson7</li>
          <li><label>aim:</label>  LiftHandleToOpen</li>
          <li><label>xanga:</label>  okay, we're getting a little personal here...</li>
        </ul>
      </div>
    </li>
  </ul>

{{template "footer.html" .}}