{{template "header" .}}

<a href="https://github.com/c-johnson"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

<div class="skinny">
  <h1 class="title">Hi, my name is Chris Johnson.</h1>

  <img class="selfie" src="/img/home/monkey.jpg" />

  <p>I'm a glorified ape that builds websites, philosophizes about humanity, and generally stumbles around Planet Earth making a fool of myself.  This website is an experiment to see if I can cram everything in my life into one simple frame.  I currently reside in San Francisco, CA.</p>

  <p>If you would like to hire me, check out my <a href="/work">work</a>.</p>
</div>

{{template "footer" .}}
