{{template "header.html" .}}

<h1 class="title bord-l">Words</h1>

<div class="row">
  <div class="medium-8 columns disclaimer">
    <p>A rough collection of my blog posts so far.  Epistemic status for everything:  Low.  When the facts change, I change my mind, truth is subjectivity, subjectivity is truth, et cetera.  Enjoy.</p>
  </div>

  <div class="medium-4 columns quote italic">
    <p>"Practical men, who believe themselves to be quite exempt from any intellectual influences, are usually the slaves of some defunct economist."</p>
    <aside>- John Maynard Keynes</aside>
  </div>

  <hr />
</div>
<div class="row">
  <div class="medium-2 columns archive">
    <a type="application/rss+xml" href="/public/feed.rss"><img src="/public/img/icons/rss.gif">RSS feed</a>
<!--     <ul>
      <li class="active"> <a href="#">February 2014</a></li>
      <li> <a href="#">January 2014</a></li>
      <li> <a href="#">December 2013</a></li>
      <li> <a href="#">November 2013</a></li>
    </ul> -->
  </div>
  <div class="medium-10 columns posts">
    <ul>
      <div class="post-title">
        <a href="/2014/momentum">Why I can't even order a bowl of goddamn noodles</a>
        <aside>// september 15, 2014</aside>
      </div>
      <div class="post-title">
        <a href="/2014/houses">Houses</a>
        <aside>// august 9, 2014</aside>
      </div>
      <div class="post-title">
        <a href="/2014/fear-1">Fear</a>
        <aside>// july 1, 2014</aside>
      </div>
      <div class="post-title">
        <a href="/2014/robots-1">The broader point behind "robots eating jobs"</a>
        <aside>// june 19, 2014</aside>
      </div>
      <div class="post-title">
        <a href="/2014/tesla">Anti-Tesla sentiment and the death of optimism (Part 1)</a>
        <aside>// june 12, 2014</aside>
      </div>
      <div class="post-title">
        <a href="/2014/context">Context in the Information Age</a>
        <aside>// june 9, 2014</aside>
      </div>
      <div class="post-title">
        <a href="/2014/clueless">I Have No Idea What I'm Doing</a>
        <aside>// january 28, 2014</aside>
      </div>
      <div class="post-title">
        <a href="/2014/cigarettes">How I Quit Smoking</a>
        <aside>// august 30, 2013</aside>
      </div>
    </ul>
  </div>
</div>

{{template "footer.html" .}}