{{template "header.html" .}}

<link rel="stylesheet" type="text/css" href="/public/css/work.css">

<ul class="subnav small" data-subnav-switcher="work" data-subnav-default="#past-work">
  <li><a href="#past-work">Past Work</a></li>
  <li><a href="#services">For Clients</a></li>
  <li><a href="#skills">For Employers</a></li>
  <li><a href="/resume" target="_blank" data-external>Resume</a></li>
</ul>

<section data-subnav-section="work" id="past-work">
  <h1 class="title">Past Work</h1>

  <ul class="large-block-grid-2">
    <li class="work-item">
      <h3>Gain Fitness</h3>
      <a class="work-box" href="http://trainer.gainfitness.com" target="_blank">
        <img class="cropped" src="/public/img/work/gain.png" style="top: 20px;">
      </a>
    </li>
    <li class="work-item">
      <h3>LocBox</h3>
      <a class="work-box" href="http://www.locbox.com" target="_blank">
        <img class="cropped" src="/public/img/work/locbox.png" style="top: 163px;">
      </a>
    </li>
    <li class="work-item">
      <h3>Tradeking API Challenge</h3>
      <a class="work-box" href="http://www.apicampuschallenge.com" target="_blank">
        <img class="cropped" src="/public/img/work/tradeking.jpg">
      </a>
    </li>
    <li class="work-item">
      <h3>Main Street Carpentry</h3>
      <a class="work-box" href="http://www.mainstreetcarpentry.com" target="_blank">
        <img class="cropped" src="/public/img/work/mainst.png">
      </a>
    </li>
    <li class="work-item">
      <h3>The World Energy Project</h3>
      <a class="work-box" href="http://www.cjohnson.io/wep" target="_blank">
        <img src="/public/img/work/wep.png" style="top: 136px;">
      </a>
    </li>
    <li class="work-item">
      <h3>Magnolia Metals</h3>
      <a class="work-box" href="http://www.magnoliabronze.com" target="_blank">
        <img class="cropped" src="/public/img/work/magnolia.png" style="top: 103px;">
      </a>
    </li>
    <li class="work-item">
      <h3>Premier Parking Services</h3>
      <a class="work-box" href="http://www.premier-parking.com" target="_blank">
        <img class="cropped" src="/public/img/work/premier.png" style="top: 100px;">
      </a>
    </li>
    <li class="work-item">
      <h3>Scripted (VMWare)</h3>
      <a class="work-box" href="https://github.com/scripted-editor/scripted" target="_blank">
        <img class="cropped" src="/public/img/work/scripted.png" style="top: 34px;">
      </a>
    </li>
    <li class="work-item">
      <h3>This Site</h3>
      <a class="work-box" href="javascript:void(0);">
        <img class="cropped" src="/public/img/work/chome.png" style="top: 34px;">
      </a>
    </li>
  </ul>
</section>

<!-- <section class="slim row" id="services" data-subnav-section="work">
  <h1 class="title">What I Do</h1>
  <div class="columns large-6">
    Hi!
  </div>
  <div class="columns large-6">
    Hello
  </div>
</section> -->

<section class="slim" id="services" data-subnav-section="work">
  <h1 class="title">Business + Web = $$$</h1>
  <p>
    Increasingly, people are turning online to buy products, find services, and get information.  If your business  isn't easily discovered online, you are likely missing out on a valuable and growing market segment.            
  </p>

  <ul class="large-block-grid-3 space">
    <li>
      <h4 class="subtitle">Market your business</h4>
      <ul class="small product-types norm">
        <li>Traditional and mobile websites</li>
        <li>Google and Bing discovery</li>
        <li>Facebook, Twitter, and LinkedIn</li>
        <li>Yelp and other rating sites</li>
        <li>Online communities & forums</li>
      </ul>
    </li>

    <li>
      <h4 class="subtitle">Inform your customers</h4>
      <ul class="small product-types norm">
        <li>Catalogue your products and services</li>
        <li>Phone, email, and online support</li>
        <li>Blogs, announcements, press releases</li>
        <li>Specials deals or offers </li>
        <li>Product / sales information </li>
        <li>Locations, available hours, and events</li>
      </ul>
    </li>

    <li>
      <h4 class="subtitle">Run things smoothly</h4>
      <ul class="small product-types norm">
        <li>Web analytics, statistics, reports</li>
        <li>Converstion tracking and optimization</li>
        <li>Custom domains & email addresses</li>
        <li>Billing, reporting, and CRM software</li>
        <li>HR and scheduling solutions</li>
        <li>Any other custom software -- Just ask!</li>
      </ul>
    </li>
  </ul>

  <p>
    The bottom line is, investing a little into technology can earn you a lot.  No matter what industry you're in, software can save you and your customers time, manage the complexitiy of business, and bring new customers to your doorstep. If you have questions about these services, feel free to <a href="/contact">contact me</a>.
  </p>
</section>


<section id="skills" data-subnav-section="work">
  <h1 class="title">Buzzwords</h1>
  <ul class="large-block-grid-2 small">
    <li class="skill-set">
      <div class="subtitle">Frontend</div>
      <ul>
        <li>html5 + css3 Markup</li>
        <li>javascript (Ember, Angular)</li>
        <li>cross-browser & device (IE8+)</li>
        <li>testing (phantomjs, karma)</li>
      </ul>
    </li>
    <li class="skill-set">
      <div class="subtitle">Devops</div>
      <ul>
        <li>deployment + testing (Docker, Bash / Unix)</li>
        <li>server administration (nginx, daemons, monitoring)</li>
        <li>host and service management (SOA)</li>
        <li>developer tooling, code standards, productivity</li>
      </ul>
    </li>
    <li class="skill-set">
      <div class="subtitle">Backend</div>
      <ul>
        <li>REST-ful web services (.NET, rails, golang)</li>
        <li>Data storage + admin (SQL, MongoDB, redis)</li>
        <li>performance analysis + tuning (RUM)</li>
        <li>real-time analytics</li>
        <li>basic security (OWASP top ten)</li>
      </ul>
    </li>
    <li class="skill-set">
      <div class="subtitle">UX / Design</div>
      <ul>
        <li>100% responsive design</li>
        <li>product development (idea -> product)</li>
        <li>marketing / business strategy</li>
        <li>conversion optimization + A/B testing</li>
        <li>basic photoshop skills</li>
      </ul>
    </li>
  </ul>
</section>

{{template "footer.html" .}}