/* Base */
/* Header */
/* Paragraph */
/* Top-bar */
/* Overrides */
/* Element overrides / WTFs */
ul li ul, ul li ol {
  margin-left: auto; }

.space {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem; }

.space-bot {
  padding-bottom: 0.7rem; }

.space-top {
  padding-bottom: 0.7rem; }

.breathe {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.breathe-bot {
  padding-bottom: 1.5rem; }

.breathe-top {
  padding-bottom: 1.5rem; }

.inline {
  display: inline; }

.pull-right {
  float: right !important; }

.italic {
  font-style: italic; }

.bold {
  font-weight: bold; }

/*

General guide on @font-face usage for bold/italic etc, courtesy of Stack Overflow:
  http://stackoverflow.com/questions/2436749/how-to-define-bold-italic-using-font-face
  NB: Order matters (bold/italic last)

@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans.ttf");
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans-Oblique.ttf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans-BoldOblique.ttf");
    font-weight: bold;
    font-style: italic, oblique;
}

*/
/*
  Bembo:  fonts.com
*/
@font-face {
  font-family: "Bembo";
  src: url("/public/fonts/bembo-regular.eot");
  /* IE9 Compat Modes */
  src: url("/public/fonts/bembo-regular.eot?#iefix") format("embedded-opentype"), url("/public/fonts/bembo-regular.woff") format("woff"), url("/public/fonts/bembo-regular.ttf") format("truetype"), url("/public/fonts/bembo-regular.svg") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: "Bembo";
  src: url("/public/fonts/bembo-semibold.eot");
  /* IE9 Compat Modes */
  src: url("/public/fonts/bembo-semibold.eot?#iefix") format("embedded-opentype"), url("/public/fonts/bembo-semibold.woff") format("woff"), url("/public/fonts/bembo-semibold.ttf") format("truetype"), url("/public/fonts/bembo-semibold.svg") format("svg");
  /* Legacy iOS */
  font-weight: 500; }

/* Base */
/* Header */
/* Paragraph */
/* Top-bar */
/* Overrides */
/* Element overrides / WTFs */
ul li ul, ul li ol {
  margin-left: auto; }

/*

General guide on @font-face usage for bold/italic etc, courtesy of Stack Overflow:
  http://stackoverflow.com/questions/2436749/how-to-define-bold-italic-using-font-face
  NB: Order matters (bold/italic last)

@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans.ttf");
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans-Oblique.ttf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans-BoldOblique.ttf");
    font-weight: bold;
    font-style: italic, oblique;
}

*/
/*
  Bembo:  fonts.com
*/
@font-face {
  font-family: "Bembo";
  src: url("/public/fonts/bembo-regular.eot");
  /* IE9 Compat Modes */
  src: url("/public/fonts/bembo-regular.eot?#iefix") format("embedded-opentype"), url("/public/fonts/bembo-regular.woff") format("woff"), url("/public/fonts/bembo-regular.ttf") format("truetype"), url("/public/fonts/bembo-regular.svg") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: "Bembo";
  src: url("/public/fonts/bembo-semibold.eot");
  /* IE9 Compat Modes */
  src: url("/public/fonts/bembo-semibold.eot?#iefix") format("embedded-opentype"), url("/public/fonts/bembo-semibold.woff") format("woff"), url("/public/fonts/bembo-semibold.ttf") format("truetype"), url("/public/fonts/bembo-semibold.svg") format("svg");
  /* Legacy iOS */
  font-weight: 500; }

.title, .title * {
  font-size: 2.5rem; }

.subtitle, .subtitle * {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase; }

.text, .text * {
  line-height: 150%; }

.small, .small * {
  font-size: 0.8rem; }

.medium, .medium * {
  font-size: 1rem; }

strong {
  font-weight: bold; }

ul {
  margin: 0;
  list-style-type: none; }

ul.norm, .norm-ul ul {
  margin-left: 30px;
  list-style-type: disc; }

.subnav li {
  display: inline-block; }
  .subnav li a.active {
    color: black;
    cursor: text; }
  .subnav li:not(:first-child) {
    margin-left: 5px;
    padding-left: 8px;
    border-left: 1px solid #555; }

/* Base */
/* Header */
/* Paragraph */
/* Top-bar */
/* Overrides */
/* Element overrides / WTFs */
ul li ul, ul li ol {
  margin-left: auto; }

/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/
* {
  margin: 0;
  padding: 0; }

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */
html, body {
  height: 100%; }

#sticky-wrap {
  min-height: 100%; }

#sticky-main {
  overflow: auto;
  padding-bottom: 25px; }

/* must be same height as the footer */
#sticky-footer {
  position: relative;
  margin-top: -25px;
  /* negative value of footer height */
  height: 25px;
  clear: both; }

/*Opera Fix*/
body:before {
  /* thanks to Maleika (Kohoutec)*/
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
  /* thank you Erik J - negate effect of float*/ }

/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
  <style type="text/css">
    #wrap {display:table;height:100%}
  </style>
<![endif]-->

*/
hr {
  margin: 0; }

header li.active, header a:hover {
  text-decoration: underline; }
header .title, header .title * {
  font-size: 1.8rem; }
header .title {
  border-right: 1px solid #dedede; }
header .name a:hover {
  text-decoration: none; }

.main-content {
  position: relative; }
  .main-content h1 {
    padding: 2rem 0;
    margin: 0 auto;
    text-align: center; }

.extra-padding {
  height: 50px; }

.top-bar .name h1 a {
  font-weight: 300; }

.skinny {
  margin: 0 auto;
  max-width: 600px; }

.slim {
  margin: 0 auto;
  max-width: 820px; }

body * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }
